* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.page {
  width: 100%;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
  min-height: 100vh;
  /* height: 50vh; */
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  padding: 40px 30px 70px;
  border-radius: 10px;
  height: 95vh;
}
.topLogo {
  display: block;
  max-width: 80%;
  margin: 15px auto;
}
.todo-app h1 {
  width: 100%;
  margin: 100px auto 20px;
  color: #002765;
  text-align: center;
}
.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#container-0 h2 {
  font-weight: 600;
  opacity: 0.5;
}
#container-2 span {
  display: inline-flex;
  margin-bottom: 10px;
}
#listPic {
  width: 100px;
  margin-left: 10px;
}
#form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  /* background: #edeef0; */
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
  display: inline-block;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
button:hover {
  background: #002765;
  box-shadow: 2px 4px rgb(193, 186, 186);
}
.details {
  margin-bottom: 10px;
  width: 50vw;
  text-align: center;
  font-weight: 600;
  padding-top: 20px;
}
#dropdown {
  border: none;
  outline: none;
  padding: 16px 50px;
  opacity: 0.5;
  background: #fff;
  /* color: #ffffff; */
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 18px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.checked {
  color: #555;
}
ul li.checked::before {
  background-image: url(images/checked.png);
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover {
  background: #edeef0;
}
/* .pet-detail{
    visibility: hidden;
} */

.virtual-pets {
  width: 100%;
  max-width: 540px;
  background: #fff;
  padding: 40px 30px 70px;
  border-radius: 10px;
  visibility: hidden;
}
#container-1,
#container-2,
#container-3 {
  /* visibility: hidden; */
  display: none;
}
#container-0 {
  margin: 40% auto;
  text-align: center;
  display: block;
}
#container-1 h2 {
  padding: 0 20%;
}
.buttons-div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 20px;
}
#btn {
  opacity: 0.6;
  background-color: #002765;
}
#btn:hover {
  background: #ff5945;
  opacity: 1;
}
#virtual-name {
  background-color: #fff;
  padding: 20px;
  border: dotted 1px #ff5945;
  margin-bottom: -30px;
  display: flex;
  justify-content: center;
}
